body {
    background-color: rgb(212, 203, 203);
}


.form-signin {
    margin: 0 auto;
    width: 30%;
    background-color: #fff;
    padding: 30px;
}

.form-control {
    display: block;
    width: 100%;
}


#rememberMe {
    float: left;
}

.btn {
    background-color: blue;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.btn-block {
    margin: 0 auto;
    display: block;
    width: 100%;
}