body {
    background: yellow;
    background: linear-gradient (to right, yellow,  rgb(252, 252, 185));
    background: -webkit-linear-gradient (to right, yellow,  rgb(252, 252, 185));
}

.list {
    margin-top: 50px;
    text-align: center;    
}

.list-item {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 80px;
    height: 30px;
    font-size: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

img {
    width: 30%;
    height: 30%;
}

.active {
    background-color: blue;
}