button {
    width: 80px;
    height: 30px;
    background-color: yellow; 
    border: none;
    margin-top: 10px;
}

.wrapper {
    position: relative;
    height: 300px;
    width: 300px;
    border: 2px solid red;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: blue;
}

.btn-block {
    height: 50px;
    background-color: grey;
    padding-left: 10px;
}